body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    /*top: 0;*/
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 50px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #381515;
    background-color: rgb(227, 240, 241);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.fa {
    right: 0px;
    background-color: red;
    border-radius: 70%;
    height: 20px;
}