  
<div class="cntainer-fluid">
  <h2 class="attendance-heading"><strong>ATTENDENCE</strong></h2>
  <div class="row">
    <div class="col-4">
      <div class="chart">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-6">
      <div class="attendance-content">
        <table>
          <tr class="border--bottom">
            <th>
              ATTENDANCE TYPE
            </th>
            <th>PERCENTAGE</th>
            <th>P/T</th>
          </tr>
          <tr class="border--bottom">
            <td>NORMAL</td>
            <td class="attendece--num">
              70%
            </td>
            <td>55/52</td>
          </tr>
          <tr class="attendence--last--content">
            <td class="attendence-color-grey">OVERALL</td>
            <td class="attendece--num">
              70%
            </td>
            <td class="attendence-color-grey">55/52</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Presrnt', 'Absent'],
        datasets: [{
            label: 'Points',
            data: [70, 30],
            backgroundColor: [
                'green',
                'red'
            ],
            borderColor: [
                'green',
                'red'
            ],
            borderWidth: 1
        }]
    },
    options: {
       
    }
});
</script> 